body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: hsl(212, 6%, 44%);
    min-height: 100vh;
    align-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*--------------------------------------------------------------------------*/
.sec1 {
    margin-bottom: 1rem;
    width: 45vw;
    text-align: center;
}
@media screen and (max-width:768px){
    .sec1{
        width: 20rem;
        margin-top: 2rem;
    }
    h1{
        font-size: clamp(1.5rem, 2vw, 2.2rem);
    }
}
/*--------------------------------------------------------------------------*/
.sec2 {
    display: flex;
    align-items: center;
}

.card {
    border: 0px solid transparent;
    width: 20rem;
    height: 13rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.75rem #9caccf;
}
.bar{
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.bar1{
    background-color: hsl(180, 62%, 55%);
}
.bar2{
    background-color: hsl(0, 78%, 62%);
}
.bar3{
    background-color: hsl(34, 97%, 64%);
}
.bar4{
    background-color: hsl(212, 86%, 64%);
}
.cardbody {
    padding: 1rem;
    font-size: 0.75rem;
    color: hsl(234, 12%, 34%);
}

h2 {
    font-size: 1.1rem;
}

figure {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width:768px) {
    .sec2 {
        display: block;
        margin-bottom: 3rem;
    }
    .card {
        width: 20rem;
        height: 14rem;
        margin-bottom: 2rem;
    }
    .cardbody {
    font-size: 0.8rem;
    }
    figure {
    padding-top: 0.5rem;
    }
}
